extends ../_template

block variables
  - var title = "Зарегистрируйся, по-братски"

block content
  .registration
    form.form(action="" method="post" novalidate)
      .form__row
        .form__column
          input(type="text" id="firstName" class="form__input" name="firstName" required) 
          label.form__label(for="firstName") Имя
        .form__column
          input(type="text" id="secondName" class="form__input" name="secondName" required) 
          label.form__label(for="secondName") Фамилия
      .form__row
        input(type="text" id="username" class="form__input" name="username" required) 
        label.form__label(for="username") Логин

      .form__row
        input(type="password" id="password" class="form__input" name="password" required) 
        label.form__label(for="password") Пароль

      .form__row
        input(type="password" id="returnPassword" class="form__input" name="password" required) 
        label.form__label(for="returnPassword") Повторите пароль

      .form__row
        input(type="email" id="email" class="form__input" required) 
        label.form__label(for="email") Почта

      .form__row
        input(type="tel" id="phone" class="form__input" required) 
        label.form__label(for="phone") Телефон

      .form__row
        .form__column
          input(type="text" id="country" class="form__input" required) 
          label.form__label(for="country") Страна
        .form__column
          input(type="text" id="city" class="form__input" required) 
          label.form__label(for="city") Город

        .form__row
          input(type="checkbox", id="checkbox" class="form__checkbox" required)
          label(for="checkbox")
            .form__fake
            .form__licence Мне исполнилось 18, и я согласен (согласна) с условиями лицензионного соглашения (которого нет).

        .form__row
          button(type="submit" class="form__submit") Зарегистрировать аккаунт