.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-image: linear-gradient(to right, #3b67b2, #504fad);
}

.registration {
    max-width: rem(920px);
    width: 100%;
    padding: rem(50px);

    border-radius: rem(5px);
    background-color: #fbfbfb;
}

.error {
    color: red;
    }